@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: gray;
}

.footer-top .footer-links li {
  list-style-type: none;
}

.footer-top .footer-links li a {
  color: #192947 !important;
}
